class ClassName
{
    void MethodName()
    {
        try
        {
            throw null;
        }
        catch (Exception)
        {
            throw;
        }
        catch (ArgumentException ex)
        {
            throw;
        }
        finally
        {
            return;
        }

        try { }
        catch { }

        try
        {
            throw null;
        }
        catch (Exception e) when (myFilter(e))
        {
            throw;
        }
    }
}
