class ClassName
{
    void MethodName()
    {
        var x = 0;
        x = 15;

        // leading on statement
        var x = 0;

        // leading on expression
        x = 15;

        x = 25; // trailing!!!!

        assignmentInstructionalText =
            editAssignmentViewModel.InstructionalTextxxxxxxxxxx ?? string.Empty;
    }
}
