class ClassName
{
    float[] arrayWithInitializer = new float[5] { 0f, 1.1f };

    int[] array = new int[5];

    private static readonly char[] initializerIndents = new char[]
    {
        Path.DirectorySeparatorChar,
        Path.AltDirectorySeparatorChar
    };
}
