// leading
extern alias Foo; // trailing

// leading with line
extern // extern trailing
// alias leading
alias // alias trailing
Foo;

extern alias Foo;
namespace Namespace
{
    extern alias Bar;
}
