namespace Namespace
{
    // leading
    [Obsolete] // trailing
    class ClassOne { }

    // leading with new line
    [Obsolete] // more trailing
    // leading before class
    class ClassTwo { }
}
