public class ClassName
{
    public void MethodName()
    {

        if (true)
        {
            // do something
        }
        
        if (false)
        {
            // do something else
        }
    }
}
