[*.{xml,csproj,props,targets}]
indent_size = 2
indent_style = space

csharp_using_directive_placement = outside_namespace
csharp_style_inlined_variable_declaration = true
csharp_style_pattern_matching_over_is_with_cast_check = true
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA2254.severity = none

dotnet_diagnostic.RS0041.severity = warning

dotnet_diagnostic.IDE0007.severity = warning
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0011.severity = warning
dotnet_diagnostic.IDE0018.severity = warning
dotnet_diagnostic.IDE0019.severity = warning
dotnet_diagnostic.IDE0020.severity = warning
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0023.severity = warning
dotnet_diagnostic.IDE0028.severity = warning
dotnet_diagnostic.IDE0029.severity = warning
dotnet_diagnostic.IDE0030.severity = warning
dotnet_diagnostic.IDE0031.severity = warning
dotnet_diagnostic.IDE0032.severity = warning
dotnet_diagnostic.IDE0036.severity = warning
dotnet_diagnostic.IDE0038.severity = warning
dotnet_diagnostic.IDE0040.severity = warning
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0047.severity = warning
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0057.severity = warning
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0061.severity = warning
dotnet_diagnostic.IDE0062.severity = warning
dotnet_diagnostic.IDE0065.severity = warning
dotnet_diagnostic.IDE0075.severity = warning
dotnet_diagnostic.IDE0078.severity = warning
dotnet_diagnostic.IDE0130.severity = warning
dotnet_diagnostic.IDE0150.severity = warning
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0170.severity = warning
dotnet_diagnostic.IDE0251.severity = warning
dotnet_diagnostic.IDE0290.severity = warning
dotnet_diagnostic.IDE0300.severity = warning
dotnet_diagnostic.IDE0301.severity = warning
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0330.severity = warning
dotnet_diagnostic.IDE1006.severity = warning

dotnet_diagnostic.SYSLIB1045.severity = warning
