class TestClass
{
    void TestMethod()
    {
        var someVar = "a string" + thatIsJust(shortEnough) + "to not wrap";

        var someLongVariableName =
            "a long string with just concatenation" +
            "will break this way" +
            "because of reasons";

        var someLongVariableName =
            "a really loooooooooooooooong string" +
            someMethodCall("with long args") +
            "really long string";

        CallSomeLongMethodWithStringConcatenationThatShouldNotBreak(
            csharpDirectory + ".generated.cs",
            output.ToString()
        );
    }
}
