public class ClassName
{
    public dynamic ShortValue = new { Property = true };

    public dynamic LongValue = new
    {
        One = "One",
        Two = "Two",
        ThreeThreeThree = "ThreeThreeThree"
    };

    public dynamic Value = new { NoName };
}
