CallMethod(true);

NamedArguments(b: true, c: "false");

CallMethod(
    long______________________________________________
    // tester
    , long______________________________________________
);

CallMethod(
    long______________________________________________
#if DEBUG
    , long______________________________________________
#endif
);
