public class ClassName
{
  /// multiline
  /// second line
  private string field;

  public void Method()
  {
    /* multiline
     *  multiline
     */
    var variable = true;
  }
    /// <summary> no tabs here
	/// Tabs here
	/// </summary>
    public class ClassName { }
}

public interface Interface
{
		/// <summary>
		///	</summary> tab here before <
		void Method();
}