public class ClassName
{
    /// multiline
    /// second line
    private string field;

    public void Method()
    {
        /* this doesn't work well because the indentation is changing
     *  multiline
     */
        var variable = true;
    }

    /// <summary> no tabs here
    /// Tabs here
    /// </summary>
    public class ClassName { }

    /* this works fine
     * because indentation does not change
     */
    public class ClassName2 { }

    /*
    public string String;
    */
}

public interface Interface
{
    /// <summary>
    ///	</summary> tab here before <
    void Method();

    /* this also doesn't work well because of turning 2 tabs into 4 spaces
		 and it keeps the tabs here, which is maybe what we want
		*/
    void Method();
}

/*
public class CommentedCodeShouldKeepFormatting
{
    void MethodName() { }
}
*/
