public class ClassName
{
    public string Value = true ? "yes" : "no";

    public string Value = someLongCondition______________________
        ? "someLongValue"
        : "someOtherLongValue";

    public bool CloseParenIndents = someCondition
        ? this.SomeMethodCallThatIsLonger____________________(
              someLongValue,
              someLongValue,
              someLongValue
          )
        : this.SomeMethodCallThatIsLonger____________________(
              someLongValue,
              someLongValue,
              someLongValue
          );

    void Method()
    {
        var nestedConditions = someCondition
            ? someOtherCondition______________
                ? someValue_______________________
                : someOtherValue___________________
            : someThirdCondition______________
                ? someThirdValue_________________
                : someOtherThirdValue_______________________;

        var value =
            someLongValue__________________________________
            && someOtherValue__________________________________
                ? trueValue
                : falseValue;

        var fileContents = File.ReadAllText(
            file,
            // leading here should break parameters and GetEncoding should still group
            encoding
                ? File.GetEncoding________________________________(1252)
                : encoding_____________________,
            cancellationToken
        );

        var fileContents = File.ReadAllText(
            file,
            // leading here should break parameters
            encoding ? GetEncoding(1252) : encoding,
            cancellationToken
        );

        var fileContents = File.ReadAllText(
            file,
            encoding
                ? File.GetEncoding________________________________(1252)
                : encoding_____________________,
            cancellationToken
        );
    }
}
