// csharpier-ignore
public class Unformatted     { }

public class ClassName
{
    // csharpier-ignore
    private string    unformatted;

    public void MethodName()
    {
        // csharpier-ignore
        var unformatted    = true;

        if (true)
        {
            // csharpier-ignore
            var unformatted    = true;
        }
    }

    void MethodName()
    {
        var formatMe = true;
        // csharpier-ignore-start
        var unformatted =        true;
        var unformatted =        true;
        // csharpier-ignore-end
        var formatMe = true;
    }

    void MethodName()
    {
        var formatMe = true;
        // csharpier-ignore-start
        var unformatted =        true;
        var unformatted =        true;
        // csharpier-ignore-end
    }

    void MethodName()
    {
        var formatMe = true;
        // csharpier-ignore-start
        var unformatted =        true;
        var unformatted =        true;
    }
}

public class ClassName2
{
    // csharpier-ignore-start
    private string    unformatted1;
    // csharpier-ignore-end

    private string formatMe;
    // csharpier-ignore-start
    private string    noNewLine;
    // csharpier-ignore-end

    // csharpier-ignore-start
    private string keepNewLine;
    // csharpier-ignore-end

    public void Method()
    {
        // csharpier-ignore-start
        string    unformatted1;
        // csharpier-ignore-end

        string formatMe;
        // csharpier-ignore-start
         string    noNewLine;
        // csharpier-ignore-end

        // csharpier-ignore-start
        string keepNewLine;
        // csharpier-ignore-end
    }

    public void KeepLines1()
    {
        // csharpier-ignore-start
        var    unformattedWithLine1;
    
        var    unformattedWithLine2;
        // csharpier-ignore-end
    }

    public void KeepLines2()
    {
        // csharpier-ignore-start
        string    unformattedWithLine1;
    
        string    unformattedWithLine2;
        // csharpier-ignore-end

        string anotherValue;
    }
}

public class KeepLines1
{
    // csharpier-ignore-start
    private string    first;
    
    private string    second;
    // csharpier-ignore-end
}

public class KeepLines2
{
    // csharpier-ignore-start
    private string    first;
    
    private string    second;
    // csharpier-ignore-end

    private string third;
}
