#if NO_EXTRA_LINES
extern alias Foo1;
#else
extern alias Foo2;
#endif

#if NO_EXTRA_LINES
using System.Net.Http;
#else
using System.Web.Routing;
#endif

using System.Web.Http;

#if KEEP_LINE_ABOVE
using System.Web.Http;
#endif

namespace Namespace { }
