public class ClassName
{
#if NET6_0_OR_GREATER
    public void Method1()
    {
    }
#endif

    public void RemoveLineAbove()
    {
    }

#if NET6_0_OR_GREATER
    public void Method2()
    {
    }
#endif

    public void AddLineAbove()
    {
    }

#if NET6_0_OR_GREATER
    public void RemoveLineAbove()
    {
    }
#endif

    public void Method3()
    {
    }

#if NET6_0_OR_GREATER
    public void AddLineAbove()
    {
    }
#endif

    public void Method4()
    {
    }

#if NET6_0_OR_GREATER
    public void RemoveLineBelow()
    {
    }
#endif
}

public class ClassName
{
#if NET6_0_OR_GREATER
    public void Method()
    {
    }
#endif

    public int AddLineAbove { get; set; }
}

public class ClassName
{
#if NET6_0_OR_GREATER
    public void Method()
    {
    }
#endif

    /// <summary>Summary</summary>
    public void AddLineAboveSummary()
    {
    }

#if NET6_0_OR_GREATER
    public void Method()
    {
    }
#endif

    // Comment
    public void AddLineAboveComment()
    {
    }

#if NET6_0_OR_GREATER
    public void Method()
    {
    }
#endif

    // Comment
    public void NoNewLineAbove()
    {
    }
}

public class ClassName
{
#if NET6_0_OR_GREATER
    public void Method()
    {
    }
#endif

    public enum LineAbove
    {
        Member,
    }
}
