public class ClassName
{
    public void MethodName()
    {
        if (true)
        {
            DoIf();
        }
        else
        {
            DoElse();
        }

        if (true)
        {
            DoIf();
        }
        else if (false)
        {
            DoElse();
        }

        if (true)
        {
            DoIf();
        }
        else if (
            jklasdfklalsdkfjlkasdflkaslkjfjsdkf
            || kljadsfklaskldflkjasdfklaskjdfjklasdfjlkasdfjlkasdf
        )
        {
            DoElse();
        }
    }
}
