public enum SubCode
{
    First,

    // force line
    BasicComment,

    /* force line */
    MultiLineComment,

    /// force line
    XmlComment,

    DoNotKeepLine,

    [ForceLine]
    ForceLine
}
