class ClassName
{
    void MethodName()
    {
        for (var x = 0; x < 100; x++)
        {
            break;
        }

        var y = 0;
        for (y = 0; y < 100; y++)
        {
            break;
        }

        for (;;)
        {
            break;
        }

        for (var x = 1;;)
        {
            break;
        }

        for (var x = 1; x < 0;)
        {
            break;
        }

        for (var x = 1;; x++)
        {
            break;
        }

        for (var x = 0; x < 100; x++)
            break;

        for (var someLongerValue = 0; someLongerValue____________________ < 1; someLongerValue++)
            Call(SomeLongerValue);

        for (
            var someLongerValue__________ = 0;
            someLongerValue__________ < 1;
            someLongerValue__________++
        )
            Call(someLongerValue__________);

        for (int i = 0, j = 0; i < length; i++, j++)
        {
            break;
        }

        for (
            var shorterName = 0;
            someLongName____________
            < someOtherLongName__________________________________________________;
            someLongishName_________________________++
        )
        {
            break;
        }

        for (
            var someShortName = 0, anotherShortName = 1;
            someRandomCondition;
            someShortName++, anotherShortName++
        )
        {
            break;
        }

        for (
            var someLongerName_________________________ = 0,
            anotherLongerName________________________________ = 1;
            someRandomCondition;
            someLongerName_________________________++,
            anotherLongerName________________________________++
        )
        {
            break;
        }

        for (y = 0; y < exactly100____________________________________________________________; y++)
        {
            break;
        }

        // leading comment doesn't break differently
        for (y = 0; y < exactly100____________________________________________________________; y++)
        {
            break;
        }

        for (
            y = 0;
            y < justOver100____________________________________________________________;
            y++
        )
        {
            break;
        }
    }
}
