public class ClassName
{
    public string Test = $"test";

    public string LeadingCommentWithInterpolatedString =
        $"one"
        +
        // comment stays on this line
        $"two";

    public string TwoValues = $"{SomeValue}{SomeOtherValue}";

    public string ForceFlatInString =
        $"{SomeValue}{CallSomeLongMethodWithBiParameters(jlkasdfkljasdflkaskdf, jkasdflkjasdfsdkaljfasdkjf)}";

    public string Test2 = CallSomeLongMethodWithBiParameters(
        $"some super long interpolated string with some substitions like {jkasdflkjasdfsdkaljfasdkjf}",
        $"another long interpolated string with some substitions like {jlkasdfkljasdflkaskdf}"
    );

    void AlignmentAndFormat()
    {
        var s1 = $"x {1, -2:d}";
        var s2 = $"x {1, -2}";
        var s3 = $"x {1:d}";
        var trailingComment = $"{someValue /* Comment shouldn't cause new line */}";
    }
}
