class ClassName
{
    void MethodName()
    {
        this.DoSomething().DoSomething();

        this.DoSomething___________________()
            .DoSomething___________________()
            .DoSomething___________________();

        this.Method(
            "ljkasdfkljasdlkjfklajsdfkjlasdfkjlasdkljfajklsdfkjasdf",
            "kljasdfkljaslkjdfljaksdfkjlaksljfaksjldf"
        );

        var superLongMethodNameForceLine_____________________ =
            someFactoryName.SuperLongMethodNameForceLine();

        // this should be changed by #7
        var superLongMethodNameForceLine__________________________ =
            someFactoryName.SuperLongMethodNameForceLine____________()
                .SomeOtherReallyLongMethodName();

        this.WhenThereExists________________(
            a.Website().WithDomainName("test-integration.insite.com")
        );

        return someCondition
          ? CallMethod(
                someLongParameter____________________________,
                someLongParameter____________________________
            )
          : Something.CallMethod(
                someLongParameter____________________________,
                someLongParameter____________________________
            );
    }
}
