class ClassName
{
    void MethodName()
    {
        this.DoSomething().DoSomething();

        this.DoSomething___________________()
            .DoSomething___________________()
            .DoSomething___________________();

        this.Method(
            "ljkasdfkljasdlkjfklajsdfkjlasdfkjlasdkljfajklsdfkjasdf",
            "kljasdfkljaslkjdfljaksdfkjlaksljfaksjldf"
        );

        var superLongMethodNameForceLine_____________________ =
            someFactoryName.SuperLongMethodNameForceLine();

        var someValue = someOtherValue.Where(o => someLongCondition).Where(o => someLongCondition);

        var someValue = someOtherValue
            .Where(o => someLongCondition__________________________)
            .Where(o => someLongCondition__________________________);

        this.WhenThereExists________________(
            a.Website().WithDomainName("test-integration.insite.com")
        );

        return someCondition
          ? CallMethod(
                someLongParameter____________________________,
                someLongParameter____________________________
            )
          : Something.CallMethod(
                someLongParameter____________________________,
                someLongParameter____________________________
            );
    }
}
