class ClassName1
{
    public void MethodName1()
    {
    }

#if DEBUG
    public void MethodName2()
    {
    }
#endif
}

#if DEBUG

class ClassName2
{
    public void MethodName()
    {
    }
}

#endif
