record DailyTemperature(double HighTemp, double LowTemp)
{
    public double Mean => (HighTemp + LowTemp) / 2.0;
}

record MostlyWeeklyTemperature(
    double monday,
    double monday,
    double thursday,
    double friday,
    double sunday
)
{
    public double Mean => (monday + monday + thursday + friday + sunday) / 5.0;
}

record PC(string x) : PrimaryConstructor(x) { }

public record RecordWithProperty
{
    public string Property { get; set; }
}

record RecordWithoutBody(string property);

record LongerRecordNameWhatHappens_________________________________________(string x)
    : R4<string>(x) { }

record GenericRecord<T>(T Result);

public record LotsOfParametersWithBase(
    string longNameParameter,
    string areTheyCalledParametersWithRecords,
    string theyLookLikeParameters
) : BaseRecord(longNameParameter);

public record LotsOfParametersWithBaseWithLots(
    string longNameParameter,
    string areTheyCalledParametersWithRecords,
    string theyLookLikeParameters
)
    : BaseRecord(
          longNameParameter,
          areTheyCalledParametersWithRecords,
          theyLookLikeParameters,
          "someExtraValueToMakeThisReallyLong"
      );

public record SomeRecord : SomeBaseRecord { }
