class ClassName
{
    void EmptyReturn()
    {
        return;
    }

    bool ReturnBinaryExpression()
    {
        return someOther || otherValue;
    }

    bool ReturnLongBinaryExpression()
    {
        return someValueThatIsLongAndForcesALineBreak
               || otherValueThatIsLongAndForcesALineBreak_____________________;
    }

    string LongMethodCallWithParameter()
    {
        return CallSomeLongMethodThatIndentsInsideOfItAndSeeWhatHappens(
            "SomeLongerValue________________________________"
        );
    }
}
