public class ClassName
{
    public void MethodName()
    {
        this.Where(o => true);

        this.WhereAsync(async o => true);

        this.WhereAsync(static o => true);

        this.Where___________________(
            longName__________________ => someOtherLongName__________________
        );

        this.Where___________________(
            superLongName________________________________ =>
                someOtherLongName_______________________________
        );

        this.Where___________________(
            superLongName________________________________ =>
            {
                return someOtherLongName__________________;
            }
        );
    }
}
