class ClassName
{
    void MethodName()
    {
        using (var x = BeginScope())
        {
            return;
        }

        await using (var x = BeginScope())
        {
            return;
        }

        using (var x = BeginScope())
        using (var y = BeginScope())
        {
            return;
        }

        using (BeginScope())
        {
            return;
        }

        using (BeginScope())
            return;

        using (
            BeginScope()
                .LongerMethod_________________________()
                .MakeThisThingChain______________________()
        )
        {
            return;
        }

        using (var x = SomeMethodCallThatHitsExactly100__________________________________________())
        {
            return;
        }

        // leading comment doesn't break differently
        using (var x = SomeMethodCallThatHitsExactly100__________________________________________())
        {
            return;
        }

        // leading comment doesn't break differently
        await using (var x = SomeMethodCallThatHitsExactly100____________________________________())
        {
            return;
        }

        using (
            var x = SomeMethodCallThatHitsJustOver100__________________________________________()
        )
        {
            return;
        }

        // leading await
        await
        // leading using
        using (var y = Something())
        {
            return;
        }
    }
}

