// --------------------------------------------------------------------------------------------------------------------
// <copyright file="AdminContext.cs" company="Insite Software">
//   Copyright © 2019. Insite Software. All rights reserved.
// </copyright>
// --------------------------------------------------------------------------------------------------------------------
namespace Insite.Admin
{
    using System;
    using System.Configuration;
    using Insite.Common.Dependencies;
    using Insite.Core.Context;
    using Insite.Core.Interfaces.Plugins.Caching;

    public class AdminContext
    {
        public static bool DisableAdminAccess =>
            (ConfigurationManager.AppSettings[
                "DisableAdminAccess"
            ] ?? "false").EqualsIgnoreCase("true");

        private static IPerRequestCacheManager perRequestCacheManager;
        private static IPerRequestCacheManager PerRequestCacheManager =>
            perRequestCacheManager ?? (perRequestCacheManager = DependencyLocator.Current.GetInstance<IPerRequestCacheManager>());

        private static IAdminContext current;

        public static IAdminContext Current
        {
            get
            {
                return current ?? PerRequestCacheManager.Get(
                    "AdminContext_Current",
                    LoadAdminContext
                );
            }
            set { current = value; }
        }

        private static IAdminContext LoadAdminContext()
        {
            return new AdminContextFromRequest();
        }
    }
}
