public class BasicClass
{
    public BasicClass() { }

    [Obsolete]
    public BasicClass(string one) { }

    public ClassName() => this.Value = 1;

    public BasicClass(string one, string exactly80_____________________________)
    {
        return;
    }

    public BasicClass(
        int two,
        string justOver80________________________________
    ) {
        return;
    }
}

public class Initializers : BasicClass
{
    public Initializers()
        : this(true) { }

    public Initializers(string value)
        : base(value) { }
}

public class Exactly80
{
    public Exactly80(int lajsfaskdlfklasdfklskadlfklsdfkasdkfjaskdfkdfdddd)
    {
        return;
    }

    // leading comments don't affect this
    public Exactly80(string lajsfaskdlfklasdfklskadlfklsdfkasdkfjaskdfkdfd)
    {
        return;
    }
}
