public class BasicClass
{
    public BasicClass() { }

    [Obsolete]
    public BasicClass(string one) { }

    public ClassName() => this.Value = 1;

    public BasicClass(int two, string exactly100___________________________________________________)
    {
        return;
    }

    public BasicClass(
        int two,
        string justOver100___________________________________________________
    ) {
        return;
    }
}

public class Initializers : BasicClass
{
    public Initializers() : this(true) { }

    public Initializers(string value) : base(value) { }

    public Initializers(
        string reallyLooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongParameter
    ) : base(
        reallyLooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongParameterIMeanIt
    ) { }

    public Initializers(
        string reallyLooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongParameter
    ) : base(false) { }

    public ReallyLoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooogMethodName()
        : base(false) { }

    public ReallyLoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooogMethodName()
        : base(
            reallyLooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongParameterIMeanIt
        ) { }

    public Initializers(
        string value
    ) /*Comment*/
      : base(value) { }

    public ReallyLoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooogMethodName()
        /*Comment*/: base(false) { }
}

public class Exactly80
{
    public Exactly80(int lajsfaskdlfklasdfklskadlfklsdfkasdkfjaskdfkdfdddd)
    {
        return;
    }

    // leading comments don't affect this
    public Exactly80(string lajsfaskdlfklasdfklskadlfklsdfkasdkfjaskdfkdfd)
    {
        return;
    }
}
