public class BasicClass
{
    public BasicClass() { }

    [Obsolete]
    public BasicClass(string one) { }

    public ClassName() => this.Value = 1;

    public BasicClass(int two, string exactly100___________________________________________________)
    {
        return;
    }

    public BasicClass(
        int two,
        string justOver100___________________________________________________
    ) {
        return;
    }
}

public class Initializers : BasicClass
{
    public Initializers() : this(true) { }

    public Initializers(string value) : base(value) { }

    public Initializers(
        string longParameter_______________________________________________________________________________
    ) : base(
        longParameter_______________________________________________________________________________
    ) { }

    public Initializers(
        string longParameter_______________________________________________________________________________
    ) : base(
        longParameter_______________________________________________________________________________
    ) {
        WithBody();
    }

    public Initializers(
        string longParameter____________________________________________________________
    ) : base(false) { }

    public Initializers(
        string longParameter____________________________________________________________
    ) : base(false)
    {
        WithBody();
    }

    public LongMethodName___________________________________________________________________________()
        : base(false) { }

    public WithParameters(string parameter)
        : base(
            longParameter____________________________________________________________________________
        ) { }

    public WithParameters(string parameter)
        : base(
            longParameter____________________________________________________________________________
        ) {
        WithBody();
    }

    public LongMethodName___________________________________________________________________________()
        : base(
            longParameter____________________________________________________________________________
        ) { }

    public Initializers(
        string value
    ) /*Comment*/
      : base(value) { }

    public LongMethodName___________________________________________________________()
        /*Comment*/: base(false) { }
}

public class Exactly80
{
    public Exactly80(int longParameter____________________________________)
    {
        return;
    }

    // leading comments don't affect this
    public Exactly80(string longParameter_________________________________)
    {
        return;
    }
}
