class ClassName
{
    public unsafe void RegisterCallbacks(
        delegate* unmanaged<
            IntPtr,
            IntPtr,
            NativeMethods.REQUEST_NOTIFICATION_STATUS> requestCallback,
        delegate* unmanaged<IntPtr, int> shutdownCallback,
        delegate* unmanaged<IntPtr, void> disconnectCallback,
        delegate* unmanaged<
            IntPtr,
            int,
            int,
            NativeMethods.REQUEST_NOTIFICATION_STATUS> asyncCallback,
        delegate* unmanaged<IntPtr, void> requestsDrainedHandler,
        IntPtr pvRequestContext)
    {
        return;
    }

    public static extern unsafe int InvokeCallbackFuncPtr_Inline_NoGCTransition(
        delegate* unmanaged[Cdecl]<int, int> cb,
        int* n);
}
