public class ClassName
{
    public void DoStuff() { }

    public void LongMethodNameForceLineBreak(
        string oneoneoneoneoneoneoneoneone,
        string twotwotwotwotwotwotwotwo,
        string threethreethreethreethreethree
    ) {
        return;
    }

    public void LongMethodNameForceLineBreaks___________________________(
        string one,
        string two,
        string three
    ) { }

    public void ReallyLongMethodNameWithoutAnyParametersShouldNewLineBrace111111()
    {
        return;
    }

    public void DoStuff(
        // leading
        string one, // trailing
        string two,
        string three
    ) {
        var x = 0;
    }

    public void DoStuff(string one, string two) { }

    public void DoStuff()
    {
        DoStuff();
        DoStuff();
    }

    private Doc MethodWithParameters__________________(
        SomeClass one,
        SomeClass two,
        SomeClass three
    ) => CallSomethingElseWithALongNameThatForcesABreak_________(one, two, three);

    private Doc ShortMethod() => Method();

    private Doc ShortishMethod(SomeClass one) =>
        CallSomeOtherLongMethodSoThatItBreaks____________________(one);

    private Doc MethodWithParameters_______________________(
        SomeClass one,
        SomeClass two,
        SomeClass three
    ) => CallSomething(one, two, three);

    private void MethodWithEmptyBlockShouldNotGetExtraSpace()
    {
        {
            return;
        }
    }
}

class ExplicitInterfaceSpecifier : IDisposable
{
    void IDisposable.Dispose() { }
}

namespace SomeNamespace
{
    public class ClassName
    {
        public void Exactly100(IApplicationBuilder app, IWebHostEnvironment env____________________)
        {
            return;
        }

        // leading comments don't affect modifiers
        public void Exactly100(IApplicationBuilder app, IWebHostEnvironment env____________________)
        {
            return;
        }

        // leading comments don't affect void
        void Exactly100(IApplicationBuilder app, IWebHostEnvironment env___________________________)
        {
            return;
        }

        // leading comments don't affect type
        IList<string> Exactly100(IApplicationBuilder app, IWebHostEnvironmet env___________________)
        {
            return;
        }

        public void JustOver100(
            IApplicationBuilder app,
            IWebHostEnvironment env____________________
        ) {
            return;
        }
    }
}
