# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CSharpier.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\csharpier\.idea\.idea.CSharpier\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
