<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="Local" value="nupkg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Local">
      <package pattern="CSharpier.MsBuild" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>