using TaskTupleAwaiter;

class ClassName
{
    public async Task MethodName(string somevar)
    {
        var (noteTexts, matcher) = await (
            GetAndAnalyzeNoteTexts(),
            _wordInfoCollectionManager.BuildWordMatcher()
        );
    }
}
