class ClassName
{
    void MethodName()
    {
        this.DoSomething().DoSomething();

        this.DoSomething()
            .DoSomething()
            .DoSomething()
            .DoSomething()
            .DoSomething();

        this.Method(
            "ljkasdfkljasdlkjfklajsdfkjlasdfkjlasdkljfajklsdfkjasdf",
            "kljasdfkljaslkjdfljaksdfkjlaksljfaksjldf"
        );

        var superLongMethodNameForceLine =
            someFactoryName.SuperLongMethodNameForceLine();

        // this should be changed by #7
        var superLongMethodNameForceLine =
            someFactoryName.SuperLongMethodNameForceLine()
                .SomeOtherReallyLongMethodName();

        this.WhenThereExists(
            a.Website().WithDomainName("test-integration.insite.com")
        );
    }
}
