class ClassName
{
    void MethodName()
    {
        this.DoSomething().DoSomething();

        this.DoSomething()
            .DoSomething()
            .DoSomething()
            .DoSomething()
            .DoSomething();

        this.Method(
            "ljkasdfkljasdlkjfklajsdfkjlasdfkjlasdkljfajklsdfkjasdf",
            "kljasdfkljaslkjdfljaksdfkjlaksljfaksjldf"
        );

        var superLongMethodNameForceLine = someFactoryName.SuperLongMethodNameForceLine();
        
        this.WhenThereExists(
            a.Website().WithDomainName("test-integration.insite.com")
        );
    }
}
