TODO AttributeListsTODO AttributeListsTODO Modifiersnamespace Namespace
{
    TODO AttributeListsTODO Modifiersclass FirstClassTODO ConstraintClauses { }
    TODO AttributeListsTODO Modifiersclass SecondClassTODO ConstraintClauses { }
}
