public class ClassName
{
    public void MethodName()
    {
        if (true && false) { }

        if (
            longStatementName &&
            longerStatementName &&
            evenLongeStatementName &&
            superLongStatementName
        ) { }
    }
}
