public class ClassName
{
    public void MethodName()
    {
        if (true)
        {
            return;
        }

        if (true == false) { }

        if (true && false) { }

        if (
            longStatementName
            && longerStatementName
            && evenLongerStatementName
            && superLongStatementName
        ) {
            return;
        }

        if (true)
            DoSoemthing();
        else if (false)
            DoSomething();
        else
            DoSomething;

        if (!true) { }

        if (true != false) { }

        if (true || false) { }

        if (true && (true || false)) { }

        if (exactly80 || moreTextToMakeItWork1111111111111111111111111111111111)
        {
            return;
        }

        // leading comment doesn't break differently
        if (exactly80 || moreTextToMakeItWork1111111111111111111111111111111111)
        {
            return;
        }

        if (
            justOver80 || moreTextToMakeItWork1111111111111111111111111111111112
        ) {
            return;
        }
    }
}
