public class ClassName
{
    public void MethodName()
    {
        if (true)
        {
            return;
        }

        if (true == false) { }

        if (true && false) { }

        if (
            longStatementName
            && longerStatementName
            && evenLongerStatementName
            && superLongStatementName
        ) {
            return;
        }

        if (true) DoSomething();
        else if (false) DoSomething();
        else
            DoSomething;

        if (someLongCondition != someOtherCondition)
            DoSomeLongMethodCall____________();
        else if (someLongCondition == someOtherCondition)
            DoSomeLongMethodCall____________();
        else
            DoSomeLongMethodCall________________________________________();

        if (
            longStatementName
            && longerStatementName
            && evenLongerStatementName
            && superLongStatementName
        )
            return;

        if (!true) { }

        if (true != false) { }

        if (true || false) { }

        if (true && (true || false)) { }

        if (exactly80 || moreTextToMakeItWork__________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        if (exactly80 || moreTextToMakeItWork__________________________________)
        {
            return;
        }

        if (
            justOver80 || moreTextToMakeItWork__________________________________
        ) {
            return;
        }
    }
}
