public class ClassName
{
    public void MethodName()
    {
        if (true)
        {
            return;
        }

        if (true == false) { }

        if (true && false) { }

        if (
            longStatementName
            && longerStatementName
            && evenLongerStatementName
            && superLongStatementName
        ) {
            return;
        }

        if (true)
            DoSomething();
        else if (false)
            DoSomething();
        else
            DoSomething;

        if (true)
            while (true)
                foreach (var x in y)
                    CallMethod(x);

        if (someLongCondition != someOtherCondition)
            DoSomeLongMethodCall_________________________();
        else if (someLongCondition == someOtherCondition)
            DoSomeLongMethodCall_________________________();
        else
            DoSomeLongMethodCall________________________________________();

        if (
            longStatementName
            && longerStatementName
            && evenLongerStatementName
            && superLongStatementName
        )
            return;

        if (!true) { }

        if (true != false) { }

        if (true || false) { }

        if (true && (true || false)) { }

        if (exactly100 || moreTextToMakeItWork_____________________________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        if (exactly100 || moreTextToMakeItWork_____________________________________________________)
        {
            return;
        }

        if (
            justOver100 || moreTextToMakeItWork_____________________________________________________
        ) {
            return;
        }

        if (true)
        {
            // indent
        }

        if (
            CallSomeMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            ) == 0
        ) { }

        if (
            someValue
            && CallSomeMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            ) == 0
        ) { }

        if (
            CallSomeMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            ) == 0
            && someValue
        ) { }

        if (
            CallMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            )
            && CallMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            )
        ) { }

        if (
            CallMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            ) || CallMethod(shortValue, "shortValue")
        ) { }

        if (
            CallMethod(
                someParameter_____________________________________,
                someParameter_____________________________________
            )
            || CallMethod(shortValue, "shortValue")
            || CallMethod(shortValue1, "shortValue1")
        ) { }

        if (
            CallSomeMethod(someParameter)
            == someLongerValue_______________________________________________________________
        ) { }

        return someValue != someOtherValue
            && someLongValue_____________________ == someOtherLongValue_____________________;
    }
}
