class ClassName
{
    void MethodName()
    {
        for (var x = 0; x < 100; x++)
        {
            break;
        }

        var y = 0;
        for (y = 0; y < 100; y++)
        {
            break;
        }

        for (;;)
        {
            break;
        }

        for (var x = 0; x < 100; x++) break;

        for (var someLongerValue = 0; someLongerValue < 1; someLongerValue++)
            Call(SomeLongerValue);

        for (
            var someLongerValue11111111111 = 0;
            someLongerValue11111111111 < 1;
            someLongerValue11111111111++
        )
            Call(someLongerValue11111111111);

        for (int i = 0, j = 0; i < length; i++, j++)
        {
            break;
        }

        for (
            var laksdflasdjfkaskdlfklasdfkljasdf = 0;
            laksdflasdjfkaskdlfklasdfkljasdf
            < laksdflasdjfkaskdlfklasdfkljasdf + 1;
            laksdflasdjfkaskdlfklasdfkljasdf++
        ) {
            break;
        }

        for (
            var laksdflasdjfkaskdlfklasdfkljasdf = 0,
                lkasdfkjlasjldkfljaskdflkasdfljkasdfljk = 1;
            laksdflasdjfkaskdlfklasdfkljasdf
            < laksdflasdjfkaskdlfklasdfkljasdf + 1;
            laksdflasdjfkaskdlfklasdfkljasdf++,
                lkasdfkjlasjldkfljaskdflkasdfljkasdfljk
        ) {
            break;
        }

        for (y = 0; y < exactly80_________________________________________; y++)
        {
            break;
        }

        // leading comment doesn't break differently
        for (y = 0; y < exactly80_________________________________________; y++)
        {
            break;
        }

        for (
            y = 0;
            y < justOver80_________________________________________;
            y++
        ) {
            break;
        }
    }
}
