class ClassName
{
    void MethodName()
    {
        for (var x = 0; x < 100; x++)
        {
            break;
        }

        var y = 0;
        for (y = 0; y < 100; y++)
        {
            break;
        }

        for (;;)
        {
            break;
        }

        for (var x = 0; x < 100; x++)
            break;

        for (int i = 0, j = 0; i < length; i++, j++)
        {
            break;
        }

        for (
            var laksdflasdjfkaskdlfklasdfkljasdf = 0;
            laksdflasdjfkaskdlfklasdfkljasdf < laksdflasdjfkaskdlfklasdfkljasdf + 1;
            laksdflasdjfkaskdlfklasdfkljasdf++)
        {
            break;
        }
    }
}
