public class BasicClass
{
    // leading comment
    public BasicClass() { }

    // leading with line
    public // trailing public
    // leading identifier  
    BasicClass // trailing identifier
    (int x)
    { } // trailing comments1

    public BasicClass(string s)
    {
        return;
    } // trailing comments2
}
