class ClassName
{
    void MethodName()
    {
        fixed (int* p = stackalloc int[100])
        {
            *intref = 1;
        }

        fixed (
            int* someLongNameThatWillMakeThisBreakYeahKeepGoing =
                stackalloc int[100]
        ) {
            *intref = 1;
        }

        fixed (int* exactly80____________________________ = stackalloc int[100])
        {
            return;
        }

        // leading comment doesn't break differently
        fixed (int* exactly80____________________________ = stackalloc int[100])
        {
            return;
        }

        fixed (
            int* justOver80____________________________ = stackalloc int[100]
        ) {
            return;
        }
    }
}
