TODO AttributeListsTODO Modifiersdelegate void Delegate<TODO AttributeListsT>()TODO ConstraintClauses;
TODO AttributeListsTODO Modifiersclass ClassName<TODO AttributeListsT>TODO ConstraintClausesString(){
            TODO AttributeListsTODO Modifiersvoid MethodName<TODO AttributeListsT>()TODO ConstraintClausesTODO Statements
}
TODO InterfaceDeclarationSyntax
TODO StructDeclarationSyntax
