class ClassName
{
    void MethodName()
    {
        var (one, two, three) = CallMethod();
        var (
            oneoneoneoneoneoneone,
            oneoneoneoneoneoneone,
            oneoneoneoneoneoneone
            ) = CallMethod();
    }
}
