class ClassName
{
    void MethodName()
    {
        var (one, two, three) = CallMethod();
        var (
            oneoneoneoneoneoneoneoneoneone,
            oneoneoneoneoneoneoneoneoneone,
            oneoneoneoneoneoneoneoneoneone
        ) = CallMethod();
    }
}
