class ClassName
{
    void MethodName()
    {
        for (var x = 0; x < 100; x++)
        {
            break;
        }

        var y = 0;
        for (y = 0; y < 100; y++)
        {
            break;
        }
    }
}
