.layoutWrapper {
    height: 100%;
}

.outerWrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > div:first-child {
        width: 130px;
    }
}

@media (max-width: 768px) {
    .outerWrapper > div:first-child {
        display: none;
    }
}

.panelWrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 130px);
    height: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 12px;

    > div {
        height: 100%;
    }

    .react-codemirror2,
    .CodeMirror {
        height: 100%;
    }
}

.panelWrapper25 {
    > div { width: 25%; }
}
.panelWrapper33 {
    > div { width: 33.3%; }
}
.panelWrapper50 {
    > div { width: 50%; }
}


@media (max-width: 768px) {
    .panelWrapper {
        width: 100%;
    }

    .panelWrapper > div {
        width: 100%;
        height: 50%;
    }
}

.enteredCode {
    height: 100%;

    .compilationError {
        border-bottom: solid 1px red;
    }

    .gutter-errors {
        width: 16px;
    }

    .errorGutter {
        text-align: center;

        &:hover {
            div {
                display: block;
            }
        }

        span {
            color: red;
            font-weight: bold;
        }

        div {
            position: absolute;
            left: 32px;
            top: -10px;
            width: auto;
            background-color: #ef6464;
            padding: 2px;
            white-space: nowrap;
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .enteredCode {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #ccc;
    }
}

.footer {
    height: 20px;
}
