class ClassName
{
    void MethodName()
    {
        using (var x = BeginScope())
        {
            return;
        }

        await using (var x = BeginScope())
        {
            return;
        }

        using (var x = BeginScope())
        using (var y = BeginScope())
        {
            return;
        }

        using (BeginScope())
        {
            return;
        }

        using (BeginScope())
            return;

        using (
            BeginScope()
                .LongerMethod()
                .MakeThisThingChain()
                .MaybeNow()
                .OrReallyNow()
        ) {
            return;
        }

        using (var x = SomeMethodCallThatHitsExactly80_______________________())
        {
            return;
        }

        // leading comment doesn't break differently
        using (var x = SomeMethodCallThatHitsExactly80_______________________())
        {
            return;
        }

        // leading comment doesn't break differently
        await using (var x = SomeMethodCallThatHitsExactly80_________________())
        {
            return;
        }

        using (
            var x = SomeMethodCallThatIsJustOver80_________________________()
        ) {
            return;
        }

        // leading await
        await
        // leading using
        using (var y = Something())
        {
            return;
        }
    }
}

