public class ClassName
{
    public void MethodName()
    {
        this.Where(o => true);
        this.WhereAsync(async o => true);
        this.WhereAsync(static o => true);
        this.WhereLongNameThatWillDoStuff(
            anotherLongNameThatWillDoStuff => yetAnotherLongNameToDoStuff
        );
        this.WhereLongNameThatWillDoStuff(
            anotherLongNameThatWillDoStuff111111111111111 =>
                yetAnotherLongNameToDoStuff22222222222222
        );
        this.WhereLongNameThatWillDoStuff(
            anotherEvenLongerNameThatWillDoStuff =>
            {
                return anotherLongNameThatWillDoStuff;
            }
        );
    }
}
