TODO AttributeListsTODO AttributeListsTODO Modifiersclass ClassNameTODO ConstraintClauses
){
    TODO FieldDeclarationSyntax
    TODO PropertyDeclarationSyntax
    TODO AttributeListsTODO Modifiersvoid MethodName(TODO AttributeListsTODO Modifiersstring value)TODO ConstraintClausesTODO Statements
}
