TODO AttributeListsTODO AttributeListsTODO Modifiersclass ThisIsSomeLongNameAndItShouldFormatWell : AnotherLongClassName<T>, AndYetAnotherLongClassNameTODO ConstraintClauses
){
            TODO AttributeListsTODO Modifiersvoid MethodName()TODO ConstraintClausesTODO Statements
}
