public class ClassName
{
    public void MethodName()
    {
        foreach (var x in y)
        {
            x = 1;
        }

        foreach (var x in this.SomeMethodCall()
            .SomeChainedCall()
            .AnotherChainedCall())
        {
            break;
        }
    }
}
