public class ClassName
{
    public void MethodName()
    {
        foreach (var x in y)
        {
            x = 1;
        }

        foreach (
            var x in this.SomeMethodCall()
                .SomeChainedCall()
                .AnotherChainedCall()
        ) {
            break;
        }

        foreach (
            var x // trailing
            in y
        ) {
            return;
        }

        foreach (var exactly80 in Something____________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        foreach (var exactly80 in Something____________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        await foreach (var exactly80 in Something______________________________)
        {
            return;
        }

        foreach (
            var justOver80 in Something____________________________________
        ) {
            return;
        }

        // leading await
        await
        // leading using
        foreach (var y in Something())
        {
            return;
        }

        foreach (var x in y) CallSomething(x);

        foreach (var someLongerNameThatMakesThis in BreakAndLongName)
            CallSomething(x);

        foreach (
            var someLongerNameThatMakesThis in BreakInAnotherWay11111111111111111111
        )
            CallSomething(x);

        foreach (var x in y)
            switch (x)
            {
                case 1:
                    return;
            }
    }
}
