public class ClassName
{
    public void MethodName()
    {
        foreach (var x in y)
        {
            x = 1;
        }

        foreach (
            var x in this.SomeMethodCall()
                .SomeChainedCall()
                .AnotherChainedCall__________________________()
        ) {
            break;
        }

        foreach (
            var x // trailing
            in y
        ) {
            return;
        }

        foreach (var exactly100 in Something_______________________________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        foreach (var exactly100 in Something_______________________________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        await foreach (var exactly100 in Something_________________________________________________)
        {
            return;
        }

        foreach (
            var justOver100 in Something_______________________________________________________
        ) {
            return;
        }

        // leading await
        await
        // leading using
        foreach (var y in Something())
        {
            return;
        }

        foreach (var x in y) CallSomething(x);

        foreach (var someLongerNameThatMakesThis in BreakAndLongName____________________)
            CallSomething(x);

        foreach (
            var someLongerNameThatMakesThis in BreakInAnotherWay_______________________________________
        )
            CallSomething(x);

        foreach (var x in y)
            switch (x)
            {
                case 1:
                    return;
            }
    }
}
