public class ClassName
{
    // method
    public void MethodName() { }

    // leading modifer
    public // trailing modifier
    static // more trailing
    // leading return type
    void // more trailing
    MethodName2() { }
    
    public
    static
      void MethodName3() { }
  
    void //other trailing
    MethodName4() { }
}
