public class ClassName
{
    // method
    public void MethodName() { }

    // leading modifer
    public // trailing modifier
    static // more trailing
    // leading return type
    void // more trailing
    MethodName2() { }
    
    public
    static
      void MethodName3() { }
  
    void //other trailing
    MethodName4() { }
    
    void TrailingCommentTest() // shouldn't space before the next brace
    {
        return;
    }
    
    void TrailingCommentWithParameters(
        string oasdflkjasdfljkaksjdfasjdkfjslakdf,
        string ljasdfjklaskldfkalsfjkasdf
    ) // shouldn't space before the next brace
    {
        return;
    }
}
