class ClassName
{
    void MethodName()
    {
        using (var x = BeginScope())
        {
            return;
        }

        await using (var x = BeginScope())
        {
            return;
        }
    }
}
