// public class
public class ClassName { }

// other class
class ClassName2 { }

// leading
public // trailing
static // trailing
class // trailing
ClassName2 { }


// this
public
// is
static
// valid
// wtf
class
// yeah
ClassName3 // more trailing
{
    // yeah
    private
    // no
    readonly string Tester = "lajsdf";
}
