// public class
public class ClassName { }

// other class
class ClassName2 { }

// leading
public // trailing
static // trailing
class // trailing
ClassName2 { }


// this
public
// is
static
// valid
// wtf
class ClassName3
{
    // yeah
    private
    // no
    readonly /*wtf*/
    string Tester = "lajsdf";
}
