public class ClassName
{
    // method
    public void MethodName() { }

    // leading
    public // trailing
    static // more trailing
    // more leading
    void /* what about here */
    MethodName2() { }
    
  	public
    static
      void MethodName3() { }
  
  	void //other trailing
    MethodName4() { }
}
