public class ClassName
{
    public void LongMethodNameForceLineBreak(
        string oneoneoneoneoneoneoneoneone,
        string twotwotwotwotwotwotwotwo,
        string threethreethreethreethreethree) { }

    public void LongMethodNameForceLineBreakasdfasdfasfasdf(
        string one,
        string two,
        string three) { }
}
