public class ClassName
{
    public ClassName Basic = new ClassName();

    public ClassName WithInitializer = new ClassName { Property = true };

    public ClassName WithBigInitializer = new ClassName
    {
        Property1 = true,
        Property2 = false,
        Property3 = false,
        Property4 = false,
        Property5 = false
    };

    public ClassName TrailingComma = new ClassName_______________________
    {
        Property1 = true,
        Property2 = true,
    };
}
