class ClassName
{
    void MethodName()
    {
        if (expr is Type v)
        {
            return;
        }

        if (expr is not null)
        {
            return;
        }

        if (MethodKind is not (MethodKind.Ordinary or MethodKind.LocalFunction))
        {
            return;
        }

        if (expr is < 'A' or > 'Z')
        {
            return;
        }

        Debug.Assert(result is Exception or IPAddress[] or IPHostEntry);
    }
}
