CallMethod(
            someValue,
            someCondition
                ? trueValue________________________________
                : falseValue_______________________________,
            someCondition_____________________________________
                && someOtherCondition__________________________________
                ? trueValue________________________________
                : falseValue_______________________________,
            someCondition_____________________________________
                && someOtherCondition__________________________________
        );