class ClassName
{
    void MethodName()
    {
        this.SomeProperty____________________________________________!
            .SomeProperty____________________________________________!
            .SomeProperty____________________________________________;
    }
}
