public class ClassName
{
    private static const string SomeName = "1";
    public SomeClass SomeName;

    private string SomeFieldWithSadsfasdfasdfasdfuperLongNameYeahMan =
        "kljasdfkljasdklfkjlasdfkjaskdlfasasdfasdfasdfasdfdfksdf";

    private static readonly Regex FrontEndResourceRelativePathRegex = new Regex(
        @".*?/Themes/.*?/.*?/(.*)",
        RegexOptions.Compiled |
        RegexOptions.CultureInvariant |
        RegexOptions.IgnoreCase
    );

    private SomeObject SomeLongerName = new SomeObject(
        "lkjasdflkjasdfkljaskldjf",
        "klasldkfaksdfasdfkjasdklf"
    )
    {
        Property1 = 1,
        Property2 = 2
    };

    public ClassName Value = new ClassName
    {
        Property1 = true,
        Property2 = false,
        Property3 = false,
        Property4 = false,
        Property5 = false
    };
}
