class ClassName
{
  	void MethodName()
    {
     	bool b2; // trailing 
    }
  
    void MethodName()
    {
      	// leading comment
        var xx = 1; // trailing comment

        var x = 0;

        var y = 0; // trailing comment

        // leading comment
        bool b1;

        bool b2; // trailing comment
    }
}