name: Format Repositories
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - "Src/CSharpier/**/*"
    
jobs:
  format_repositories:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: csharpier
      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: csharpier/global.json
      - uses: actions/checkout@v4
        with:
          repository: belav/csharpier-repos
          path: csharpier-repos
      - run: dotnet build csharpier/Src/CSharpier.Cli/CSharpier.Cli.csproj -c release
      - run: dotnet csharpier/Src/CSharpier.Cli/bin/release/net9.0/CSharpier.dll csharpier-repos --skip-write
