name: Format Repositories
on:
  push:
    branches: [ master ]
    paths:
      - "Src/CSharpier/**/*"
    
jobs:
  format_repositories:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: csharpier
      - uses: actions/checkout@v2
        with:
          repository: belav/csharpier-repos
          path: csharpier-repos
      - run: dotnet build csharpier/Src/CSharpier.Cli/CSharpier.Cli.csproj -c release
      - run: dotnet csharpier/Src/CSharpier.Cli/bin/release/net5.0/dotnet-csharpier.dll csharpier-repos --skip-write
