name: Validate Pull Request
on:
  pull_request:
    branches: [ master ]
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - run: dotnet test Src/CSharpier.Tests/CSharpier.Tests.csproj -c release
  test_cli:
    runs-on: ubuntu-latest
    name: Test Cli
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - run: |
          dotnet build Src/CSharpier.Cli/CSharpier.Cli.csproj -c release
          pwsh ./Scripts/TestCli.ps1
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - run: |
          dotnet tool restore
          dotnet csharpier . --check
  build_msbuild:
    runs-on: ubuntu-latest
    name: Build CSharpier.MSBuild
    steps:
      - uses: actions/checkout@v2
      - run: |
          dotnet build Src/CSharpier.MsBuild/CSharpier.MsBuild.csproj 
