name: Validate Pull Request
on:
  pull_request:
    branches: [ master ]
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: | 
            7.0.100
            6.0.300
      - run: |
          dotnet build CSharpier.sln -c release
          dotnet test CSharpier.sln -c release
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            7.0.100
            6.0.300
      - run: |
          dotnet tool restore
          dotnet csharpier . --check
  build_msbuild:
    runs-on: ubuntu-latest
    name: Build CSharpier.MSBuild
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            7.0.100
            6.0.300
      - run: |
          dotnet build CSharpier.sln -c release
          dotnet build Src/CSharpier.MsBuild/CSharpier.MsBuild.csproj
