name: Validate Pull Request
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: >
          dotnet test CSharpier.sln
          --configuration Release
          --logger "GitHubActions;summary.includePassedTests=true;summary.includeSkippedTests=true"
          --
          RunConfiguration.CollectSourceInformation=true

  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: |
          rm -r -f ./Tests/CSharpier.MsBuild.Test
          dotnet tool restore
          dotnet csharpier . --check
  test_msbuild:
    runs-on: ubuntu-latest
    name: Test CSharpier.MSBuild
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: |
          pwsh ./Tests/MsBuild/Run.ps1

