name: Validate Pull Request
on:
  pull_request:
    branches: [main,1.0.0]
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: >
          dotnet test --solution CSharpier.slnx
  no_warnings:
    runs-on: ubuntu-latest
    name: No Warnings
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: >
          dotnet build CSharpier.slnx -c release -p:TreatWarningsAsErrors=true
  builds_playground:
    runs-on: ubuntu-latest
    name: Builds Playground
    steps:
      - uses: actions/checkout@v2
      - run: >
          docker build .
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - run: |
          rm -r -f ./Tests/CSharpier.MsBuild.Test
          dotnet tool restore
          dotnet csharpier check .
  check_todos:
    runs-on: ubuntu-latest
    name: Check TODOs
    steps:
      - uses: actions/checkout@v2
      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV
      - shell: pwsh
        run: |
          ./.github/workflows/ValidatePullRequest_CheckTodos.ps1 -BranchName ${{ env.BRANCH_NAME }}
  test_msbuild:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    name: Test CSharpier.MSBuild
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
      - env:
          GithubOS: ${{matrix.os}}
        run: |
          pwsh ./Tests/MsBuild/Run.ps1
          echo blah
