class ClassName
{
    void MethodName()
    {
        while (true)
        {
            return;
        }

        while (true && false)
        {
            return;
        }

        while (
            directoryInfo.Name != "Test"
            && directoryInfo.Parent != null
            && someLongCondition == "test"
        ) {
            directoryInfo = directoryInfo.Parent;
        }

        while (exactly100 || moreTextToMakeItWork__________________________________________________)
        {
            return;
        }

        // leading comment doesn't break differently
        while (exactly100 || moreTextToMakeItWork__________________________________________________)
        {
            return;
        }

        while (
            justOver100 || moreTextToMakeItWork__________________________________________________
        ) {
            return;
        }

        while (true)
            return;

        while (someLongerStatement && someOtherLongerStatement________________)
            return someLongerValue;

        while (
            someEvenLongerStatement && someOtherEvenLongerStatement________________________________
        )
            return someLongerValue;

        while (true)
        {
            // indent
        }
    }
}
