class ClassName
{
    void MethodName()
    {
        while (true)
        {
            return;
        }

        while (true && false)
        {
            return;
        }

        while (
            directoryInfo.Name != "Test"
            && directoryInfo.Parent != null
            && someLongCondition == "test"
        ) {
            directoryInfo = directoryInfo.Parent;
        }

        while (exactly80 || moreTextToMakeItWork1111111111111111111111111111111)
        {
            return;
        }

        // leading comment doesn't break differently
        while (exactly80 || moreTextToMakeItWork1111111111111111111111111111111)
        {
            return;
        }

        while (
            justOver80 || moreTextToMakeItWork1111111111111111111111111111112
        ) {
            return;
        }

        while (true) return;

        while (someLongerStatement && someOtherLongerStatement)
            return someLongerValue;

        while (
            someEvenLongerStatement && someOtherEvenLongerStatement1111111111
        )
            return someLongerValue;

        while (true)
        {
            // indent
        }
    }
}
